<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- url_for is a Flask function that plugs the correct file into the link.  Filename parameter assumes file is in 'static/' folder. -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')
    }}"
    />
    <!-- This is jinja syntax -->
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
